In [1]:
print('hello')

hello

In [2]:
1+1

2

In [2]:
print(1+1)

2

In [3]:
'Shift + Enter'

'Shift + Enter'

In [5]:
'Alt + Enter'

'Alt + Enter'

In [6]:
a

NameError: name 'a' is not defined

In [1]:
while # running forever

SyntaxError: invalid syntax (<ipython-input-1-99c7e32257c1>, line 1)

Python Crash Course

In [4]:
#2^4 
2**4

16

In [5]:
#remainder is moderator
4%2

0

In [6]:
x = 2
y = 3

In [7]:
x

2

In [8]:
x = x+x

In [9]:
x

4

In [11]:
#variables cannot start with a number
#or special symbols

In [12]:
#Strings

In [13]:
'single quote'

'single quote'

In [14]:
"double quote"

'double quote'

In [15]:
"my name is 'yooo' whatsup"

"my name is 'yooo' whatsup"

In [16]:
x = 'hello
'

SyntaxError: EOL while scanning string literal (<ipython-input-16-fa9032eb263a>, line 1)

In [17]:
x = 'hello'

In [18]:
x

'hello'

In [19]:
print(x)

hello

In [22]:
num = 18
name = 'Yeet'

In [23]:
'My number is {} and my name is {}'.format(num,name)

'My number is 18 and my name is Yeet'

In [24]:
print('My number is {} and my name is {}'.format(num,name))

My number is 18 and my name is Yeet

In [25]:
print('My number is {one} and my name is {two}'.format(one = num,two = name))

My number is 18 and my name is Yeet

In [26]:
s = 'hello'

In [27]:
s[3]

'l'

In [28]:
#indexing starts at 0

In [29]:
#slice notation
s = 'abcdefghijk'

In [30]:
s[0]

'a'

In [31]:
s[1,6]

TypeError: string indices must be integers

In [32]:
s[0:]

'abcdefghijk'

In [33]:
s[5:]

'fghijk'

In [34]:
s[:4]

'abcd'

In [35]:
s[:4] + s[5:]

'abcdfghijk'

In [36]:
s[0:7]

'abcdefg'

In [37]:
s[3:6]

'def'

In [38]:
##LISTS##

In [39]:
[1,2,3]

[1, 2, 3]

In [40]:
['a','b','c']

['a', 'b', 'c']

In [41]:
my_list = ['a','b','c']

In [42]:
my_list.append('d')

In [43]:
my_list

['a', 'b', 'c', 'd']

In [44]:
my_list[0]

'a'

In [45]:
my_list[1:3]

['b', 'c']

In [46]:
my_list[0] = 'New'

In [47]:
my_list

['New', 'b', 'c', 'd']

In [48]:
nest = [1,2,[3,4]]

In [49]:
nest

[1, 2, [3, 4]]

In [50]:
nest[2]

[3, 4]

In [51]:
nest[2[1]]

TypeError: 'int' object is not subscriptable

In [52]:
nest[2][1]

4

In [56]:
nest = [1,2,3,[4,5,['target']]]

In [57]:
nest[3]

[4, 5, ['target']]

In [58]:
nest[3][2]

['target']

In [59]:
nest[3][2][0]

'target'

In [61]:
#dictionaries
d = {'key1':'value', 'key2':123}

In [62]:
d['key1']

'value'

In [63]:
d['key2']

123

In [64]:
d = {'k1':[1,2,3]}

In [65]:
d['k1']

[1, 2, 3]

In [66]:
d['k1'][1]

2

In [67]:
d = {'k1':{'innerkey':[1,2,3]}}

In [68]:
d['k1']['innerkey'][1]

2

In [69]:
#booleans True and False
True
False

False

In [71]:
#tuples are lists but instead of square brackets, theyre parenthases. Tuples cannot be changed

In [72]:
t = (1,2,3)

In [73]:
t[1]

2

In [74]:
t[1] = 'yuh'

TypeError: 'tuple' object does not support item assignment

In [75]:
#sets, are collecctions of unique elements

In [76]:
s = {1,1,1,2,2,3,3,3,3}

In [77]:
s

{1, 2, 3}

In [78]:
s.add(5)

In [79]:
s

{1, 2, 3, 5}

In [80]:
##COMPARISON OPERATORS

In [81]:
1<=1

True

In [82]:
1==1

True

In [83]:
#need two equal signs, one equal sign is when setting variables

In [84]:
'hi' != 'bye'

True

In [85]:
1 < 2

True

In [86]:
1<2 and 2 < 3

True

In [87]:
1<2 and 2 > 3

False

In [88]:
(1<2) or (2>3)

True

In [89]:
#IF Statements

In [90]:
if 1<2:
    print('yuh')

yuh

In [91]:
if 1==2:
    print('First')
else:
    print('Last boyy')

Last boyy

In [92]:
if 1 ==2:
    print('Yeet')
elif 3==3:
    print(3333)
else:
    print('Nah')

3333

In [93]:
#LOOPS BOYYYY

In [94]:
seq = [1,2,3,4,5]

In [95]:
for item in seq:
    print(item)

1
2
3
4
5

In [96]:
for item in seq:
    replace = item *2
    seq[item] = replace

IndexError: list assignment index out of range

In [97]:
i = 1

while i <5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [98]:
for x in seq:
    print(x)

1
2
4
4
8

In [99]:
range(0,5)

range(0, 5)

In [100]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [101]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [102]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
x = [1,2,3,4]

In [104]:
out = []

for num in x:
    out.append(num**2)

In [105]:
print(out)

[1, 4, 9, 16]

In [107]:
#List Comprehension:
[num**2 for num in x]

[1, 4, 9, 16]

In [110]:
#Creating Functions
def my_func(param1):
    print(param1)

In [111]:
my_func('YOOO')

YOOO

In [112]:
def name_func(name = 'Default Name'):
    print('Hello '+name)

In [113]:
name_func(name = 'TROSSDABOSS')

Hello TROSSDABOSS

In [114]:
def square(num):
    """
    This Function Squares a number
    """
    return num**2

In [115]:
output = square(2)

In [116]:
output

4

In [118]:
square#Click Shift + Tab

In [119]:
def times2(var):
    return var * 2

In [120]:
# Map function

In [122]:
seq = [1,2,3,4,5]

In [123]:
map(times2,seq)

list(map(times2,seq))

In [124]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [126]:
#lambda expressions
#replaces functions when you dont want to define

In [127]:
lambda var:var*2

In [128]:
list(map(lambda num: num * 3,seq))

[3, 6, 9, 12, 15]

In [129]:
filter(lambda num: num%2 == 0, seq)

In [130]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [131]:
s = 'hello my name is YEET'

In [132]:
s.lower()

'hello my name is yeet'

In [133]:
s.upper()

'HELLO MY NAME IS YEET'

In [134]:
s.split()

['hello', 'my', 'name', 'is', 'YEET']

In [135]:
tweet = 'Go Gators! #Gators'

In [137]:
tweet.split('#')[1]

'Gators'

In [138]:
d = {'k1': 1, 'k2':2}

In [139]:
d.keys

In [140]:
d.keys()

dict_keys(['k1', 'k2'])

In [141]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [142]:
d.values()

dict_values([1, 2])

In [143]:
lst = [1,2,3]

In [144]:
lst.pop

In [145]:
lst.pop()

3

In [146]:
lst

[1, 2]

In [147]:
lst.append(3)

In [148]:
lst

[1, 2, 3]

In [149]:
first = lst.pop(0)

In [150]:
first

1

In [151]:
lst

[2, 3]

In [152]:
'x' in lst

False

In [153]:
'x' in [1,2,'y','x']

True

In [159]:
#tuple unpacking, iterating through a list of tuples

In [160]:
x = [(1,2),(3,4),(5,6)]

In [161]:
x[0]

(1, 2)

In [162]:
x[0][1]

2

In [163]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [165]:
for a,b in x:
    print(a)

1
3
5